.card {
  height: 279px;
  width: 480px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-areas: "photo title voite"
                        "photo date voite"
"photo genre genre"
"photo desc desc"
"photo rated rated";
  grid-row-gap: 7px;
  padding-right: 20px;
}

.card_photo {
  grid-area: photo;
  overflow: hidden;
  height: 279px;
  width: 183px;
}

.card_photo img {
  position: relative;
  height: 100%;
  width: auto;
  transform: translateX(-25%);
}

.card_title {
  margin-top: 12px;
  margin-left: 20px;
  grid-area: title;
  font-size: 20px;
  line-height: 28px;
  min-width: 180px;
}

.card_title h5 {
  margin: 0;
}

.card_date {
  margin-left: 20px;
  grid-area: date;
  color: #827E7E;
}

.card_genre {
  margin-left: 20px;
  grid-area: genre;
  font-size: 12px;
  display: flex;
  justify-content: start;
  gap: 8px;
  flex-wrap: wrap;
}

.card_genre--item {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  padding: 2px 5px;
  background: #FAFAFA;
  height: 15px;
}

.card_description {
  margin-left: 20px;
  grid-area: desc;
  height: auto;
}

.text {
  font-size: 12px;
  line-height: 22px;
}

.card-rated {
  margin-left: 20px;
  margin-bottom: 15px;
  grid-area: rated;
}

.card-voite {
  margin-top: 12px;
  margin-right: -11px;
  justify-self: end;
  height: 30px;
  width: 30px;
  grid-area: voite;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
  font-family: Inter UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.red {
  border-color: #E90000;
}

.orange {
  border-color: #E97E00;
}

.yellow {
  border-color: #E9D100;
}

.green {
  border-color: #66E900;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 425px) {
  .card {
    grid-template-columns: 73px 1fr 40px;
    grid-template-areas: "photo title voite"
                        "photo date voite"
"photo genre genre"
"desc desc desc"
" . rated rated";
    padding: 6px 10px;
    height: 245px;
  }
  .card_photo {
    max-width: 60px;
    height: 91px;
  }

  .card_title {
    margin-top: 0;
    margin-left: 0;
    min-width: 120px;
  }

  .card_date {
    margin-left: 0;
  }

  .card_genre {
    margin-left: 0;
  }

  .card_description {
    margin-left: 0;
  }

  .card-rated {
    margin-left: 0;
    margin-bottom: 5px;
    justify-self: end;
  }

  .card-rated svg {
    width: 15px;
    height: 15px;
  }

  .card-voite {
    margin-top: 0;
    margin-right: 0;
  }
}
