.page {
    margin: 0 auto;
    width: 1036px;
    background-color: #FFFF;
    padding: 21px 40px 17px;
}

.page_pagination{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .page {
        width: 100%;
        padding: 19px 16px 20px;
    }
}
